@use "../abstacts" as *;
.destinationInfo {
    margin:8rem 0;
    @include responsive(xsmall){
        margin: 4rem 0;
    }
    &_p{
        font-size: 1.6rem;
        color: $silverDark;
        line-height: 2.8rem;
        @include responsive(medium){
            margin-bottom: 2rem;
        }
    }
    &_details{
        @include align(flex,space-between, center, null);
        padding: 1.3rem 0;
        border-bottom: 1px dotted $silverLight-50;
        &_head{
            font-size: 1.6rem;
            color: $silverDark;
        }
        &_text{
            font-size: 1.6rem;
            color: $silverDark;
        }
    }
}